name: patentfinder

services:
  fact-checker-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - ./app:/app
    command: streamlit run main.py --server.address=0.0.0.0
